@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables";

// Brands
$brand-primary: #f4645f;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$theme-colors: map-merge($theme-colors, (
	primary: $brand-primary
));

/*$theme-colors: map-merge((
	primary: $brand-primary
), $theme-colors);*/

$brand-primary-color: #f4645f;

// Colors
$white: #fff;
