
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "_variables";

.full-content {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.flex-fullsize {
	flex: 1;
}

.home-bg {
	background: url('../img/home_bg.jpg');
	background-size: cover;
}

.overlay-dark {
	background: rgba(0, 0, 0, 0.5);
}

.btn-primary-brand {
	background: $brand-primary-color;
	color: $white;
}

@include media-breakpoint-up(md) {
	.mw-md-75 {
		max-width: 75%;
		margin: 0 auto;
	}
}

@include media-breakpoint-up(lg) {
	.mw-lg-50 {
		max-width: 50%;
		margin: 0 auto;
	}
}
